<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Shopping App</span>
  <span class="spacer"></span>
  <ng-container *ngIf="isLoggedIn()">
    <button mat-button [matMenuTriggerFor]="userMenu">
      {{ getUsername() }} <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </ng-container>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport="true" role="navigation" mode="side" opened="true">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']" (click)="sidenav.close()">Home</a>
      <a mat-list-item [routerLink]="['/products']" (click)="sidenav.close()">Products</a>
      <a mat-list-item [routerLink]="['/cart']" (click)="sidenav.close()">Cart</a>
      <a mat-list-item *ngIf="!isLoggedIn()" [routerLink]="['/login']" (click)="sidenav.close()">Login</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
